attrs
beautifulsoup4~=4.11.1
certifi
chardet
click
Flask~=2.1.2
gunicorn
idna
itsdangerous
Jinja2
jsonschema~=4.5.1
MarkupSafe
pyrsistent
requests~=2.27.1
scraping
six
soupsieve
urllib3
Werkzeug

loguru~=0.6.0
setuptools~=57.0.0